aiohttp==3.8.3
aiohttp-swagger3==0.7.2
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.1
fastjsonschema==2.15.3
frozenlist==1.3.1
idna==3.4
multidict==6.0.2
PyYAML==6.0
strict-rfc3339==0.7
yarl==1.8.1
